@font-face {
   font-family: 'Delicious-Bold';
   src: url('Delicious-Bold.otf');
}

body {
	background: $shadow-gray url("../images/dark_wood.png");
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

h1 {
	font-family: 'Delicious-Bold', sans-serif;
	color: $almost-white;
	font-size: 65px;
	text-shadow: 5px 5px 15px $blueprint-highlight;

	@media #{$smart-phone-size} {
		font-size: 80px;
	}
	@media #{$laptop-size} {
		font-size: 120px;
	}
}

h2 {
	color: $dark-gray;
	padding: 10px;
	font-size: 24px;
}

a, a:visited {
	color: $blueprint-blue;
}

a:hover {
	color: $blueprint-light-blue;
}

p {
	line-height: 20px;
	margin-bottom: 15px;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
}

.body-container {
	background-color: $white;
	margin-top: 0px;
	margin-bottom: 0px;
	overflow: hidden;
}

.section {
	position: relative;
	z-index: 6;
	margin: 20px 20px;
	background: $blueprint-gray;
	min-height: 60px;
	padding: 20px;
	color: $shadow-gray;
	border-left: 3px solid $blueprint-blue;
}
