body {
	background: #555 url("../images/wood_pattern.png");
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 18px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1100px;
}

.body-container {
	background-color: #FFF;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 100px;
}

.section {
	margin: 20px 20px;
	background: #E6E6E6;
	min-height: 60px;
	border-radius: 7px;
	padding: 20px;
	color: #555;
	box-shadow: 5px 5px 10px #C1C1C1;
}

h2 {
	color: #111;
	padding: 10px;
	font-size: 24px;
}

/** Title */

#title-container > * {
	display: inline-block;
	vertical-align: middle;
}

h1 {
	color: #555;
	font-size: 38px;
	font-weight: bold;
}

#flat-logo {
	background: url("../images/flat-icon.png") no-repeat;
	background-size: 60px 60px;
	width: 60px;
	height: 60px;
	margin: 20px 5px 20px 20px;
}

/** Controls **/

.control {
	padding: 20px;
}

.control > * {
	margin-left: 5px;
	margin-top: 10px;
}

.input {
	font-size: 18px;
	max-width: 170px;
	padding: 3px;
	cursor: pointer;
}

#weighting-toggle {
	padding: 10px;
	overflow: auto;
}

#weighting-toggle > * {
	float: left;
}

#weighting-toggle > span {
	padding: 10px;
}

/** Flat **/

#flat {
	display: flex;
	flex-flow: column;
}

#flat-container {
	margin: 10px;
	padding: 5px;
	min-height: 350px;
	border-radius: 5px;
	flex: 2;
	overflow: hidden;
	background: #75706B;
	background: linear-gradient(to bottom, #75706B 0%,#AAA 100%); /* W3C */
}

.flat-border {
	outline: 5px #0D37F8 dashed;
}

.room-placeholder {
	background: #555;
	width: 90px;
	height: 90px;
}

.room-border {
	outline: 3px #0D37F8 dashed;
}

.flat_room {
	float: left;
	width: 90px;
	height: 90px;
	padding: 5px;
	text-align: left;
	box-shadow: 5px 5px 10px #555;
}

.room > * {
	margin: 5px;
}

.members {
	height: 120px;
	width: 200px;
}

.room_member {
	margin-right: 5px;
	margin-top: 5px;
	box-shadow: 2px 2px 6px #555;
}

/** Palette **/

.room {
	color: #EEE;
	margin: 5px;
	cursor: move;
	border: 2px #444;
	font-size: 16px;
	overflow: hidden;
}

.room-drag {
	text-align: center;
	box-shadow: 5px 5px 10px #C1C1C1;
}

.room-drag {
	line-height: 3;
	width: 90px;
	height: 50px;
}

#rooms {
	margin-left: 10px;
	overflow: auto;
}

.room-palette {
	margin: 5px;
	float: left;
}

.weighting {
	width: 90px;
	margin: 5px;
}

.animate-hide > * {
	-webkit-transition: all linear 0.2s;
	transition: all linear 0.2s;
	opacity: 1;
}

.animate-hide.ng-hide > * {
	padding-top: 0px;
	padding-bottom: 0px;
	height: 0px;
	opacity: 0;
}

.weighting-input {
	text-align: center;
	padding: 3px;
}

.btn-down {
	margin: 10px;
	background: #75706B;
	background: linear-gradient(to bottom, #75706b 0%,#c1c1c1 100%); /* W3C */
}

.btn-up {
	margin: 10px;
}

#flatmates {
	margin-left: 20px;
	overflow: auto;
}

.flatmate {
	/*float: left;*/
	margin-bottom: 5px;
}

.flatmate_name {
	margin: 5px;
	height: 22px;
	width: 100px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 0px;
}

.flatmate_img {
	display: inline-block;
	vertical-align: middle;
	background: url("../images/person-icon.png") no-repeat;
	width: 32px;
	height: 32px;
	float: left;
	box-shadow: 2px 2px 6px #555;
}

.flatmate-drag-image {
	cursor: move;
	margin: 5px;
	float: left;
}

.button {
	margin: 5px;
	line-height: 2em;
	font-weight: bold;
	color: #fff;
	text-align: center;
	cursor: pointer;
	font-size: 18px;
	width: 4em;
	height: 2em;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	outline: 0;
	box-sizing: border-box;
	border: none;
	box-shadow: 5px 5px 10px #C1C1C1;
}

.add-button {
	margin-left: 15px;
	background: #86d993;
}

.add-button:hover {
	background: #57e06c;
}

.remove-button {
	width: 32px;
	height: 32px;
	line-height: 32px;
	background: #f45c44;
}

.remove-button:hover {
	background: #FF3A19;
}

/** Costing */

#costing {
	margin-left: 20px;
}

#costing > div {
	margin: 15px;
}

.flatmate-cost {
	display: block;
	margin: 10px;
}

.flatmate-cost > span {
	min-width: 100px;
	font-size: 26px;
	display: inline-block;
	padding: 5px 10px 0px 10px;
}

/** Controls **/

#social {
	overflow: auto;
}

.social-section {
	float: none;
	margin-right: 80px;
}

.social-section > * {
	margin: 5px;
}

.social-section > a > img {
	height: 2em;
	opacity: 0.8;
}

.social-section > a > img:hover {
	opacity: 1;
}

.wide-button {
	width: 6em;
	margin-top: 0px;
}

.coming-soon-container {
	margin-top: 0px;
	display: inline-block;
}

.coming-soon-button {
	background-color: #C1C1C1;
}

.coming-soon-button:hover {
	background-color: #AAA;
}

.coming-soon {
	position: absolute;
	font-size: 0.6em;
	opacity: 0.6;
	margin-left: 5px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 3.5em 7em 0 0;
	border-color: orange transparent transparent transparent;
}

.coming-soon-text {
	position: absolute;
	float: left;
	margin-left: 5px;
	padding: 3px;
	font-size: 0.55em;
	text-align: left;
	width: 2em;
	font-weight: bold;
}

/** How it works */

#how-it-works {
	margin: 20px;
}

/** Footer **/

footer {
	bottom: 0px;
	width: 100%;
	height: 200px;
	padding-top: 10px;
	background: #222;
}

.side_by_side {
	
}

.footer_section {
	margin: 10px 0px 0px 25px;
	font-size: 18px;
	color: #CCC;
}

.icon {
	margin-right: 10px;
	margin-bottom: 5px;
	height: 25px;
	width: 25px;
	vertical-align: middle;
}

/** Media queries */

@media (min-width: 900px) {

	#horizontal-sections {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		overflow: hidden;
	}

	#horizontal-sections > div{
		margin: 0px 20px 10px 20px;
	}

	#results {
		margin-top: 10px;
	}

	#flat {
		flex: 3;
		margin-right: 0px !important;
	}

	#palette {
		flex: 2;
	}

	.social-section {
		float: left;
	}
}
