<!DOCTYPE html>
<html ng-app="flat">
	<head>
		<title>Cost My Flat</title>
		<meta charset="utf-8" />
		<meta name="description" content="A website providing an easy to work out the rental costs for each flatmate." />
		<meta name="keywords" content="flat,rental,cost,charge,divide,calculate,calculator,drag,drop,per room,flatmate,pay,payment,html5">
		<meta name="author" content="Matthew Harward">

		<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		<link rel='stylesheet' href='css/style.css' type='text/css'/>

		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-animate.js"></script>
		<script src="app/masks.js"></script>
		<script src="app/app.js"></script>
		<script src="app/services/idService.js"></script>
		<script src="app/services/flatmateService.js"></script>
		<script src="app/services/persistenceService.js"></script>
		<script src="app/controllers/FlatController.js"></script>
		<script src="app/directives.js"></script>

		<script>
			$(document).ready(function () {

				$(window).scroll(function(e){
				  parallax();
				});

				function parallax(){
					var scrolled = $(window).scrollTop();
					$('.top-container').css('top', (scrolled * 0.30) + 'px'); // here you scroll downward
					$('.bottom-container').css('bottom', (-scrolled * 0.30 + 350) + 'px'); // here you scroll downward
				}
			});
		</script>
	</head>
	<body>
		<div class="container body-container" ng-controller="FlatController">
			<div class="parallax-container top-container">
				<div id="flat-logo"></div>
				<h1>Cost My Flat</h1>
			</div>
			<div class="angled-top"></div>
			<div id="settings" class="section">
				<p>Ever had to work out how my each flatmate should pay for rent? Need a transparent system that is just plain fair? Look no further! Model your flat below and we'll tell you how much each flatmate should pay and why.</p>
				<div class="control">
					<span>Rent costs</span>
					<input id="cost-selector" class="input" ng-model="rent" ui-money-mask="0" max="20000" ng-change="updateResults()" auto-complete-cost></input>
					<span>per</span>
					<select id="freq-selector" class="input" ng-init="rentalPeriod = periods[1]" ng-model="rentalPeriod" ng-options="period.name for period in periods" ng-change="updateResults()"></select>
				</div>
			</div>
			<div id="horizontal-sections">
				<div id="flat" class="section">
					<h2>Flat</h2>
					<div id="flat-container" sortable-grid room-drop>
						<div class="room flat_room" ng-repeat="room in flat"
								ng-style="{'width': (room.width * 30) + 'px', 'height': (room.height * 30) + 'px', 'background-color': room.template.color}" room-resize flatmate-drop>
							<span class="room-name">{{room.template.name}}</span>
							<span class="room-size">{{room.width}}x{{room.height}}</span>
							<div class="members" sortable-members>
								<div id="{{user.id}}" title="{{user.name}}" class="flatmate_img room_member" ng-style="{'background-color': user.color}" ng-repeat="user in room.users"></div>
							</div>
						</div>
					</div>
				</div>
				<div id="palette" class="section">
					<h2>Palette</h2>
					<p>Drag and drop rooms onto your flat, and flatmates onto the rooms they will use.</p>
					<h2>Room Templates<img src="images/drag-me.png" class="drag-me-image"/></h2>
					<div id="rooms">
						<div class="room-palette" ng-repeat="room in roomPalette">
							<div class="room room-drag" ng-style="{'background-color': room.color}" room-drag>
								<span>{{room.name}}</span>
							</div>
							<div class="weighting animate-hide" ng-hide="!showWeighting">
								<input class="weighting-input input" type="number" min="0" max="3" step="0.1" ng-model="room.weighting"></input>
							</div>
						</div>
					</div>
					<div id="weighting-toggle">
						<span>Show Weightings</span>
						<input class='tgl tgl-skewed' id='cb3' type='checkbox' ng-click="showWeighting = !showWeighting">
						<label class='tgl-btn' data-tg-off='OFF' data-tg-on='ON' for='cb3'></label>
					</div>
					<h2>Potential Flatmates<button class="button add-button" ng-click="addFlatmateToPalette()" ng-disabled="flatmatePalette.length >= 15">ADD</button></h2>
					<img src="images/drag-me.png" class="drag-me-flatmate"/>
					<div id="flatmates">
						<div class="flatmate" ng-repeat="flatmate in flatmatePalette">
							<div id="{{flatmate.id}}" class="flatmate_img flatmate-drag-image" ng-style="{'background-color': flatmate.color}" flatmate-drag></div>
							<input class="flatmate_name input" ng-model="flatmate.name" ng-change="updateResults()"></input>
							<button class="button remove-button" ng-click="removeFlatmateFromPalette($index)">X</button>
						</div>
					</div>
				</div>
			</div>
			<div id="results" class="section">
				<h2>Costing</h2>
				<div id="costing">
					<span>Cost per</span>
					<select id="freq-selector" class="input" ng-init="costingPeriod = rentalPeriod" ng-model="costingPeriod" ng-options="period.name for period in periods" ng-change="updateResults()"></select>
					<div><span>Total flat area: </span><span ng-bind="results.totalFlatArea"></span><span> m&#178;</span></div>
					<div><span>Flatmates: </span><span ng-bind="results.flatmateSummary"></span></div>
					<h3>Summary per flatmate</h3>
					<div>
						<div class="flatmate-cost" ng-repeat="flatmateAmount in flatmateAmounts">
							<div class="flatmate_img" ng-style="{'background-color': flatmateAmount.color}"></div>
							<span>{{flatmateAmount.name}}</span>
							<span>{{flatmateAmount.amount | currency }}</span>
						</div>
					</div>
					<span>Total: {{calculatedTotal | currency}} per {{costingPeriod.name}} ({{costingPeriod.days}} days)</span>
				</div>
			</div>
			<div id="social" class="section">
				<div id="save-controls" class="social-section">
					<p>Controls</p>
					<button class="button add-button wide-button" ng-click="reset()">RESET</button>
					<div class="coming-soon-container">
						<div class="coming-soon"></div>
						<span class="coming-soon-text">Coming Soon</span>
						<button class="button wide-button coming-soon-button">SHARE</button>
					</div>
					<button class="button add-button wide-button" ng-hide="true">REMOVE</button>
				</div>
				<div id="social-controls" class="social-section">
					<p>Share</p>
					<a href="https://www.facebook.com/sharer/sharer.php?u=http://costmyflat.com"><img src="./images/share/fb.png" title="Share on Facebook"/></a>
					<a href="https://plus.google.com/share?url=http://costmyflat.com"><img src="./images/share/gplus.png" title="Share on Google+"/></a>
					<a href="https://twitter.com/home?status=Are%20you%20paying%20a%20fair%20share%20of%20the%20rent?%20Find%20out%20at%20http://costmyflat.com%20%23costmyflat"><img src="./images/share/twitter.png" title="Share on Twitter"/></a>
					<a href="https://www.linkedin.com/shareArticle?mini=true&url=http://costmyflat.com&title=Cost%20My%20Flat&summary=Are%20you%20paying%20a%20fair%20share%20of%20the%20rent?%20You%20can%20find%20out%20here!&source="><img src="./images/share/linkedin.png" title="Share on LinkedIn"/></a>
				</div>
				<div id="email-us" class="social-section">
					<p>Contact Us</p>
					<a href="mailto:contact@forgedsoftware.com?subject=Cost My Flat - Feedback"><img src="./images/share/email.png" title="Email Us"/></a>
				</div>
			</div>
			<div id="how-it-works" class="section">
				<h2>How It Works</h2>
				<p>Some text here</h2>
			</div>
			<div class="angled-bottom"></div>
			<div class="parallax-container bottom-container"></div>
		</div>
		<footer>
			<div class="container side_by_side">
				<div class="footer_section">
					<img class="icon" src="./images/forged-icon.png" />Created by <a href="http://forgedsoftware.com">Forged Software</a>
				</div>
				<div class="footer_section">
					<img class="icon" src="./images/github-icon.png" />Hosted on <a href="https://github.com/forgedsoftware/costmyflat">GitHub</a>
				</div>
				<div class="footer_section">
					<span>Built with: <a href="https://jqueryui.com/">jQuery-UI</a>, <a href="https://angularjs.org/">AngularJS</a>, <a href="http://flatuicolors.com">flatuicolors</a>, and <a href="http://iconmonstr.com/">iconmonstr</a></span>
				</div>
			</div>
		</footer>
	</body>
</html>
