<!DOCTYPE html>
<html ng-app="flat">
	<head>
		<title>Cost My Flat</title>
		<meta charset="utf-8" />
		<meta name="description" content="A website providing an easy to work out the rental costs for each flatmate." />
		<meta name="keywords" content="flat,rental,cost,charge,divide,calculate,calculator,drag,drop,per room,flatmate,pay,payment,html5">
		<meta name="author" content="Matthew Harward">

		<link rel='stylesheet' href='css/reset.css' type='text/css'/>
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="js/randomColor.js"></script>
		<script src="js/app.js"></script>
		<script src="js/directives.js"></script>

		<link rel='stylesheet' href='css/base.css' type='text/css'/>
	</head>
	<body>
		<div class="container body-container" ng-controller="FlatController" ng-init="updateResults()">
			<div id="title-container">
				<div id="flat-logo"></div>
				<h1>Cost My Flat</h1>
			</div>
			<div id="settings" class="section">
				<p>Ever had to work out how my each flatmate should pay for rent? Need a transparent system that is just plain fair? Look no further! Model your flat below and we'll tell you how much each flatmate should pay and why.</p>
				<div class="control">Rent costs
					<input id="cost-selector" class="input" value="${{rent}}" required ng-minlength="1" ng-maxlength="5" auto-complete-cost></input>
					per
					<select id="freq-selector" class="input" ng-init="rentalPeriod = periods[1]" ng-model="rentalPeriod" ng-options="period.name for period in periods"></select>
				</div>
			</div>
			<div id="flat" class="section">
				<h2>Flat</h2>
				<div id="flat-container" sortable-grid room-drop>
					<div class="room flat_room" ng-repeat="room in flat" style="background-color: {{room.template.color}};"
							ng-style="{'width': {{room.width * 30}} + 'px', 'height': {{room.height * 30}} + 'px'}" room-resize flatmate-drop>
						<span>{{room.template.name}}</span>
						<span class="size">{{room.width}}x{{room.height}}</span>
						<div class="members" sortable-members>
							<div id="{{user.id}}" class="flatmate_img room_member" style="background-color: {{user.color}};" ng-repeat="user in room.users"></div>
						</div>
					</div>
				</div>
			</div>
			<div id="palette" class="section">
				<h2>Palette</h2>
				<p>Drag and drop rooms onto your flat, and flatmates onto the rooms they will use</p>
				<h2>Rooms</h2>
				<div id="rooms">
					<div class="room room-drag" ng-repeat="room in roomPalette" style="background-color: {{room.color}};" room-drag>
						<span>{{room.name}}</span>
					</div>
				</div>
				<h2>Flatmates</h2>
				<button ng-click="addFlatmateToPalette()" ng-disabled="flatmatePalette.length >= 15">+</button>
				<div id="flatmates">
					<div class="flatmate" ng-repeat="flatmate in flatmatePalette">
						<div id="{{flatmate.id}}" class="flatmate_img flatmate-drag-image" style="background-color: {{flatmate.color}};" flatmate-drag></div>
						<input class="flatmate_name" value="{{flatmate.name}}"></input>
						<button ng-click="removeFlatmateFromPalette($index)">-</button>
					</div>
				</div>
			</div>
			<div id="results" class="section">
				<h2>Costing</h2>
				<div id="costing">
					<div><span>Total flat area: </span><span ng-bind="results.totalFlatArea"></span><span> m&#178;</span></div>
					<div><span>Flatmates: </span><span ng-bind="results.flatmateSummary"></span></div>
					<h3>Summary per flatmate</h3>
					<div>
						<div class="flatmate-cost" ng-repeat="flatmateAmount in flatmateAmounts">
							<div class="flatmate_img" style="background-color: {{flatmateAmount.color}};"></div>
							<span>{{flatmateAmount.name}}</span>
							<span>${{flatmateAmount.amount}}</span>
						</div>
					</div>
					<div>
						<span>Total: </span>$<span ng-bind="rent"></span> per <span ng-bind="rentalPeriod.name"></span>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="container side_by_side">
				<div class="footer_section">
					<img class="icon" src="./images/forged-icon.png" />Created by <a href="http://forgedsoftware.com">Forged Software</a>
				</div>
				<div class="footer_section">
					<img class="icon" src="./images/github-icon.png" />Hosted on <a href="https://github.com/forgedsoftware/costmyflat">GitHub</a>
				</div>
			</div>
		</footer>
	</body>
</html>
