#costing {
	margin-left: 20px;
}

#costing > div {
	margin: 15px;
}

.flatmate-cost {
	display: block;
	margin: 10px;
}

.flatmate-cost > span {
	min-width: 100px;
	font-size: 26px;
	display: inline-block;
	padding: 5px 10px 0px 10px;
}
